<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<body style="background: {{ color }};">

			<form>

				<div>

			  		Employee ID:<br> {{ id }} <br><br>

			  		First Name:<br> {{ fname }} <br><br>

			  		Last Name:<br> {{ lname }} <br><br>

			  		Primary Interest:<br> {{ interest }} <br><br>

			  		Location:<br> {{ location }} <br><br>
			  		
			  	</div>

			</form>
			<a href="{{ url_for('home') }}">Back</a>
		</body>

	</font>
</center>
</html>
